<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registered User Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Upload file to fill the data
  </p>

  <input type="file" (change)="onFileChange($event)" />

  <br>
  <div *ngIf="willDownload">
    <a id="download"> Download JSON File </a>
  </div>

  <!-- Custom rounded search bars with input group -->
  <ion-searchbar type="text" placeholder="What're you searching for?" aria-describedby="button-addon1"
    class="form-control border-0 bg-light" name="searchedValue" [(ngModel)]="searchedValue" (ngModelChange)="search()">
  </ion-searchbar>
  <!-- End -->

  <ion-card>
    <ion-card-header>
      Registered Users
    </ion-card-header>

    <ion-list>
      <ion-item button *ngFor="let userItem of usersList" (click)="selectPerson($event, userItem)">
        <ion-icon name="person-circle-outline" item-start></ion-icon>
        <ion-label>
          &nbsp;
          {{userItem.fullName}}
        </ion-label>
        <ion-icon name="caret-forward-outline"></ion-icon>

      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>
